.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
docs/*Implementation Plan*
docs/Tugas Proyek Final Pemodelan Kausal - 25917024 Muhammad Dhiauddin.docx
docs/Visual-Analytics-for-Causal-Modeling-Analysis.pptx
docs/Laporan Akhir - Pemodelan Kausal (Domain Kesehatan Indonesia).md


